In [2]:
import pandas as pd

In [3]:
columns = ['task', 'status', 'trackerID', 'serverregion', 'timestamp', 'server']
df = pd.read_csv('log.txt', names=columns, delimiter='|')

In [4]:
logs = df.copy()

In [5]:
logs.shape

(1000, 6)

In [6]:
logs.head(20)

,task,status,trackerID,serverregion,timestamp,server
0,Data quality assurance,success,89328463487,Florida;USA,1599093305000,464f:bdbd:1d:535a:2dad:5117:a92f:b359
1,Designing and implementing data models,success,89328463488,Ontario;Canada,1589218599000,1366:c314:8d40:4219:4a51:138f:7ce3:d244
2,Extracting data from various sources,success,89328463489,California;USA,1595463446000,1ffa:cdd1:7a2b:a7d8:ab00:eada:94b3:7a7c
3,Loading data into a data warehouse,success,89328463490,Florida;USA,1605932487000,8ac5:9010:f24c:2f06:4679:aaec:a737:f003
4,Data quality assurance,success,89328463491,Queensland;Australia,1587354266000,5a7d:18ec:4650:5421:185c:4fa0:2e86:6643
5,Building data pipelines,success,89328463492,Paris;France,1600093768000,1480:2795:2b3a:428e:1023:fa04:586c:90b1
6,Optimizing database performance,-,89328463493,Tokyo;Japan,1596900215000,7f2b:df86:5279:687d:2f43:9cbe:d291:8125
7,Data quality assurance,success,89328463494,Paris;France,1605052256000,805a:a9ff:45ca:7672:6737:68cc:6f2d:4bd2
8,Optimizing database performance,success,89328463495,Queensland;Australia,1594313425000,25d3:9eb2:8066:4cb:3f84:13d5:ab0f:9e3
9,Data governance,success,89328463496,Queensland;Australia,1597993211000,f57b:4c0e:26c9:f04d:74a9:16b7:2b02:a063
10,Building data pipelines,success,89328463497,California;USA,1602042464000,46fd:b891:e726:4f51:ff1f:8489:a823:84dc
11,Transforming data into a unified format,success,89328463498,Florida;USA,1590200468000,8755:3c70:4da:ad2a:a23d:8e9b:1a3b:e9bf
12,Loading data into a data warehouse,success,89328463499,Texas;USA,1602613627000,4a73:ce86:e05b:48a6:2235:f676:d4ea:25d
13,Loading data into a data warehouse,success,89328463500,Paris;France,1599616589000,ee97:d7d6:4068:3f6e:f8e9:7cf1:8850:5f3e
14,Building data pipelines,success,89328463501,New York;USA,1590938268000,f75c:724a:378:3787:b8a2:e9b7:55f4:4b0b
15,Designing and implementing data models,success,89328463502,Florida;USA,1596110287000,3b16:b2c0:32e0:c7fa:e4e4:4035:4954:1925
16,Designing and implementing data models,-,89328463503,Texas;USA,1602189313000,56c0:efbf:2ecc:67b6:61c:2fa6:7b12:2e12
17,Data quality assurance,-,89328463504,Texas;USA,1589042567000,99db:f6af:4b20:e70d:3f70:a3a7:1750:dd48
18,Extracting data from various sources,success,89328463505,Texas;USA,1594944197000,4d9b:5fd7:767c:c61b:5b8e:a027:4de6:fa64
19,Optimizing database performance,success,89328463506,Florida;USA,1607712620000,7a36:eec8:e57e:a6:90a0:827f:3e16:1544

In [7]:
logs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   task          1000 non-null   object
 1   status        1000 non-null   object
 2   trackerID     1000 non-null   int64
 3   serverregion  1000 non-null   object
 4   timestamp     1000 non-null   int64
 5   server        1000 non-null   object
dtypes: int64(2), object(4)
memory usage: 47.0+ KB

In [8]:
logs.isnull().sum()

task            0
status          0
trackerID       0
serverregion    0
timestamp       0
server          0
dtype: int64

In [9]:
logs.isna().empty

False

In [10]:
logs.duplicated().sum()

0

In [11]:
special_chars = ['!', '@', '#', '$', '%', '^', '&', '*', '(', ')', '_', '+', '-', '=', '{', '}', '[', ']', 
                 '|', '\\', ':', ';', '"', "'", '<', '>', '?', ',', '.', '/', ' ']

logs.isin(special_chars).sum()

task              0
status          113
trackerID         0
serverregion      0
timestamp         0
server            0
dtype: int64

In [12]:
def clean_dataset(col):
    special_chars = ['!', '@', '#', '$', '%', '^', '&', '*', '(', ')', '_', '+', '-', '=', '{', '}', '[', ']', 
                 '|', '\\', ':', ';', '"', "'", '<', '>', '?', ',', '.', '/', ' ']
    if col == str:
        col = col.strip(special_chars)
        return col

In [13]:
logs['status'].apply(clean_dataset)

0      None
1      None
2      None
3      None
4      None
       ...
995    None
996    None
997    None
998    None
999    None
Name: status, Length: 1000, dtype: object

In [14]:
logs['status'] = logs['status'].str.replace('\W', 'unknown', regex=True)  #\W regex non-word check

In [15]:
logs.head(20)

,task,status,trackerID,serverregion,timestamp,server
0,Data quality assurance,success,89328463487,Florida;USA,1599093305000,464f:bdbd:1d:535a:2dad:5117:a92f:b359
1,Designing and implementing data models,success,89328463488,Ontario;Canada,1589218599000,1366:c314:8d40:4219:4a51:138f:7ce3:d244
2,Extracting data from various sources,success,89328463489,California;USA,1595463446000,1ffa:cdd1:7a2b:a7d8:ab00:eada:94b3:7a7c
3,Loading data into a data warehouse,success,89328463490,Florida;USA,1605932487000,8ac5:9010:f24c:2f06:4679:aaec:a737:f003
4,Data quality assurance,success,89328463491,Queensland;Australia,1587354266000,5a7d:18ec:4650:5421:185c:4fa0:2e86:6643
5,Building data pipelines,success,89328463492,Paris;France,1600093768000,1480:2795:2b3a:428e:1023:fa04:586c:90b1
6,Optimizing database performance,unknown,89328463493,Tokyo;Japan,1596900215000,7f2b:df86:5279:687d:2f43:9cbe:d291:8125
7,Data quality assurance,success,89328463494,Paris;France,1605052256000,805a:a9ff:45ca:7672:6737:68cc:6f2d:4bd2
8,Optimizing database performance,success,89328463495,Queensland;Australia,1594313425000,25d3:9eb2:8066:4cb:3f84:13d5:ab0f:9e3
9,Data governance,success,89328463496,Queensland;Australia,1597993211000,f57b:4c0e:26c9:f04d:74a9:16b7:2b02:a063
10,Building data pipelines,success,89328463497,California;USA,1602042464000,46fd:b891:e726:4f51:ff1f:8489:a823:84dc
11,Transforming data into a unified format,success,89328463498,Florida;USA,1590200468000,8755:3c70:4da:ad2a:a23d:8e9b:1a3b:e9bf
12,Loading data into a data warehouse,success,89328463499,Texas;USA,1602613627000,4a73:ce86:e05b:48a6:2235:f676:d4ea:25d
13,Loading data into a data warehouse,success,89328463500,Paris;France,1599616589000,ee97:d7d6:4068:3f6e:f8e9:7cf1:8850:5f3e
14,Building data pipelines,success,89328463501,New York;USA,1590938268000,f75c:724a:378:3787:b8a2:e9b7:55f4:4b0b
15,Designing and implementing data models,success,89328463502,Florida;USA,1596110287000,3b16:b2c0:32e0:c7fa:e4e4:4035:4954:1925
16,Designing and implementing data models,unknown,89328463503,Texas;USA,1602189313000,56c0:efbf:2ecc:67b6:61c:2fa6:7b12:2e12
17,Data quality assurance,unknown,89328463504,Texas;USA,1589042567000,99db:f6af:4b20:e70d:3f70:a3a7:1750:dd48
18,Extracting data from various sources,success,89328463505,Texas;USA,1594944197000,4d9b:5fd7:767c:c61b:5b8e:a027:4de6:fa64
19,Optimizing database performance,success,89328463506,Florida;USA,1607712620000,7a36:eec8:e57e:a6:90a0:827f:3e16:1544

In [16]:
def extract_state(text):
    result = text.split(';')[0]
    return result

def extract_country(text):
    result = text.split(';')[1]
    return result

In [17]:
logs['server_state'] = logs['serverregion'].apply(extract_state)
logs['server_country'] = logs['serverregion'].apply(extract_country)

In [18]:
logs.head(10)

,task,status,trackerID,serverregion,timestamp,server,server_state,server_country
0,Data quality assurance,success,89328463487,Florida;USA,1599093305000,464f:bdbd:1d:535a:2dad:5117:a92f:b359,Florida,USA
1,Designing and implementing data models,success,89328463488,Ontario;Canada,1589218599000,1366:c314:8d40:4219:4a51:138f:7ce3:d244,Ontario,Canada
2,Extracting data from various sources,success,89328463489,California;USA,1595463446000,1ffa:cdd1:7a2b:a7d8:ab00:eada:94b3:7a7c,California,USA
3,Loading data into a data warehouse,success,89328463490,Florida;USA,1605932487000,8ac5:9010:f24c:2f06:4679:aaec:a737:f003,Florida,USA
4,Data quality assurance,success,89328463491,Queensland;Australia,1587354266000,5a7d:18ec:4650:5421:185c:4fa0:2e86:6643,Queensland,Australia
5,Building data pipelines,success,89328463492,Paris;France,1600093768000,1480:2795:2b3a:428e:1023:fa04:586c:90b1,Paris,France
6,Optimizing database performance,unknown,89328463493,Tokyo;Japan,1596900215000,7f2b:df86:5279:687d:2f43:9cbe:d291:8125,Tokyo,Japan
7,Data quality assurance,success,89328463494,Paris;France,1605052256000,805a:a9ff:45ca:7672:6737:68cc:6f2d:4bd2,Paris,France
8,Optimizing database performance,success,89328463495,Queensland;Australia,1594313425000,25d3:9eb2:8066:4cb:3f84:13d5:ab0f:9e3,Queensland,Australia
9,Data governance,success,89328463496,Queensland;Australia,1597993211000,f57b:4c0e:26c9:f04d:74a9:16b7:2b02:a063,Queensland,Australia

In [19]:
logs = logs.drop(columns=['serverregion'])

In [20]:
logs.head(10)

,task,status,trackerID,timestamp,server,server_state,server_country
0,Data quality assurance,success,89328463487,1599093305000,464f:bdbd:1d:535a:2dad:5117:a92f:b359,Florida,USA
1,Designing and implementing data models,success,89328463488,1589218599000,1366:c314:8d40:4219:4a51:138f:7ce3:d244,Ontario,Canada
2,Extracting data from various sources,success,89328463489,1595463446000,1ffa:cdd1:7a2b:a7d8:ab00:eada:94b3:7a7c,California,USA
3,Loading data into a data warehouse,success,89328463490,1605932487000,8ac5:9010:f24c:2f06:4679:aaec:a737:f003,Florida,USA
4,Data quality assurance,success,89328463491,1587354266000,5a7d:18ec:4650:5421:185c:4fa0:2e86:6643,Queensland,Australia
5,Building data pipelines,success,89328463492,1600093768000,1480:2795:2b3a:428e:1023:fa04:586c:90b1,Paris,France
6,Optimizing database performance,unknown,89328463493,1596900215000,7f2b:df86:5279:687d:2f43:9cbe:d291:8125,Tokyo,Japan
7,Data quality assurance,success,89328463494,1605052256000,805a:a9ff:45ca:7672:6737:68cc:6f2d:4bd2,Paris,France
8,Optimizing database performance,success,89328463495,1594313425000,25d3:9eb2:8066:4cb:3f84:13d5:ab0f:9e3,Queensland,Australia
9,Data governance,success,89328463496,1597993211000,f57b:4c0e:26c9:f04d:74a9:16b7:2b02:a063,Queensland,Australia

In [21]:
logs.head()

,task,status,trackerID,timestamp,server,server_state,server_country
0,Data quality assurance,success,89328463487,1599093305000,464f:bdbd:1d:535a:2dad:5117:a92f:b359,Florida,USA
1,Designing and implementing data models,success,89328463488,1589218599000,1366:c314:8d40:4219:4a51:138f:7ce3:d244,Ontario,Canada
2,Extracting data from various sources,success,89328463489,1595463446000,1ffa:cdd1:7a2b:a7d8:ab00:eada:94b3:7a7c,California,USA
3,Loading data into a data warehouse,success,89328463490,1605932487000,8ac5:9010:f24c:2f06:4679:aaec:a737:f003,Florida,USA
4,Data quality assurance,success,89328463491,1587354266000,5a7d:18ec:4650:5421:185c:4fa0:2e86:6643,Queensland,Australia

# Dealing with Timestamp(UNIX)

In [22]:
logs['timestamp'] = (logs['timestamp'].convert_dtypes(convert_integer=True)/1000).astype(int)

In [23]:
logs['timestamp'] = pd.to_datetime(logs['timestamp'], unit='s')

In [24]:
logs.head()

,task,status,trackerID,timestamp,server,server_state,server_country
0,Data quality assurance,success,89328463487,2020-09-03 00:35:05,464f:bdbd:1d:535a:2dad:5117:a92f:b359,Florida,USA
1,Designing and implementing data models,success,89328463488,2020-05-11 17:36:39,1366:c314:8d40:4219:4a51:138f:7ce3:d244,Ontario,Canada
2,Extracting data from various sources,success,89328463489,2020-07-23 00:17:26,1ffa:cdd1:7a2b:a7d8:ab00:eada:94b3:7a7c,California,USA
3,Loading data into a data warehouse,success,89328463490,2020-11-21 04:21:27,8ac5:9010:f24c:2f06:4679:aaec:a737:f003,Florida,USA
4,Data quality assurance,success,89328463491,2020-04-20 03:44:26,5a7d:18ec:4650:5421:185c:4fa0:2e86:6643,Queensland,Australia

In [77]:

success_log = logs.loc[logs['status'] == 'success']
success_log.head()

,task,status,trackerID,timestamp,server,server_state,server_country
0,Data quality assurance,success,89328463487,2020-09-03 00:35:05,464f:bdbd:1d:535a:2dad:5117:a92f:b359,Florida,USA
1,Designing and implementing data models,success,89328463488,2020-05-11 17:36:39,1366:c314:8d40:4219:4a51:138f:7ce3:d244,Ontario,Canada
2,Extracting data from various sources,success,89328463489,2020-07-23 00:17:26,1ffa:cdd1:7a2b:a7d8:ab00:eada:94b3:7a7c,California,USA
3,Loading data into a data warehouse,success,89328463490,2020-11-21 04:21:27,8ac5:9010:f24c:2f06:4679:aaec:a737:f003,Florida,USA
4,Data quality assurance,success,89328463491,2020-04-20 03:44:26,5a7d:18ec:4650:5421:185c:4fa0:2e86:6643,Queensland,Australia

In [78]:
failed_logs = logs.loc[logs['status'] == 'failed']
failed_logs.head()

,task,status,trackerID,timestamp,server,server_state,server_country
24,Extracting data from various sources,failed,89328463511,2020-05-13 20:21:36,bd6d:1f65:389f:8977:d411:7194:507f:9870,Florida,USA
42,Optimizing database performance,failed,89328463529,2020-04-13 13:56:28,bb6c:43f0:d2a:2140:c4c4:9eb2:535b:479c,Florida,USA
45,Building data pipelines,failed,89328463532,2020-07-11 11:31:48,9005:f086:b98a:dfb1:fd4b:c187:a367:3ce6,Texas,USA
48,Extracting data from various sources,failed,89328463535,2020-10-04 08:08:04,a95d:3f9a:d36a:c3d7:f749:7a45:f40e:fdca,California,USA
51,Data governance,failed,89328463538,2020-04-22 07:19:23,52d:4f74:ab5f:8a92:14a3:7bec:c56f:786d,Tokyo,Japan

In [79]:
unknown_status_logs = logs.loc[logs['status'] == 'unknown']
unknown_status_logs.head()

,task,status,trackerID,timestamp,server,server_state,server_country
6,Optimizing database performance,unknown,89328463493,2020-08-08 15:23:35,7f2b:df86:5279:687d:2f43:9cbe:d291:8125,Tokyo,Japan
16,Designing and implementing data models,unknown,89328463503,2020-10-08 20:35:13,56c0:efbf:2ecc:67b6:61c:2fa6:7b12:2e12,Texas,USA
17,Data quality assurance,unknown,89328463504,2020-05-09 16:42:47,99db:f6af:4b20:e70d:3f70:a3a7:1750:dd48,Texas,USA
31,Data governance,unknown,89328463518,2020-05-30 20:33:05,2e0:9665:ad00:a232:ed01:8244:ed87:6e55,Paris,France
50,Extracting data from various sources,unknown,89328463537,2020-11-13 23:08:36,730a:74b4:cefe:60a:65b4:c024:b7ce:35c4,Queensland,Australia

In [71]:
success_log['task'].unique()

array(['Data quality assurance', 'Designing and implementing data models',
       'Extracting data from various sources',
       'Loading data into a data warehouse', 'Building data pipelines',
       'Optimizing database performance', 'Data governance',
       'Transforming data into a unified format', 'Data integration'],
      dtype=object)

In [74]:
success_log['task'].value_counts()

task
Extracting data from various sources       150
Loading data into a data warehouse          90
Data governance                             90
Data quality assurance                      87
Building data pipelines                     76
Transforming data into a unified format     76
Data integration                            74
Optimizing database performance             66
Designing and implementing data models      57
Name: count, dtype: int64

In [75]:
failed_logs['task'].value_counts()

task
Extracting data from various sources       31
Building data pipelines                    13
Data governance                            13
Transforming data into a unified format    13
Data quality assurance                     13
Data integration                           10
Loading data into a data warehouse         10
Designing and implementing data models     10
Optimizing database performance             8
Name: count, dtype: int64

In [76]:
unknown_status_logs['task'].value_counts()

task
Extracting data from various sources       20
Data integration                           16
Data governance                            13
Transforming data into a unified format    13
Building data pipelines                    13
Designing and implementing data models     12
Data quality assurance                     11
Optimizing database performance             9
Loading data into a data warehouse          6
Name: count, dtype: int64

In [26]:
#employee_expense = employees_expenses.groupby(by='Employee').sum()
#demography_race_fl = demography_data.loc[demography_race['state_code'] == 'FL']